.nav{
    display:flex;
    gap:100px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:10px;
}

.nav.button{
    text-decoration-color: #000;
    background-color: white;
    width: fit-content;
    transition: 500ms;
    border-radius: 5px;
}

.nav.button:hover{
    background-color: blueviolet;
}
#navbar:hover{
    color:#000;
    transition-duration: 1000ms;
}
