.navbar-navi{
    display: flex;
    background: rgba(68,116,157,0.8);
    padding:10px;
}

.navbar-brand{
    background: rgba(68,116,157,0);
    font-weight: bold;
    position: absolute;
    padding: 50px;
}

.navbar-collapse.collapse{
    background: rgba(68,66,18,0);
    position: relative;
    margin: 15px;
    padding: 10px;
    

}

.nav-navi{

    display: flex!important;
    position: absolute;
    justify-content:center!important;
    gap:10%;
    background: rgba(68,116,157,0.0);
    font-size:20px;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
}

.nav-link{
    background: rgba(68,116,157,0);
    border-radius: 10px;
    text-align: center;
}

.nav-link:hover{
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
}

.nav-link.active{
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
}